
<footer class="bg-dark text-light pt-2 pb-1">

<div class="container-fluid text-center text-md-left">

  <div class="row text-md-left">
  <div class="col-md-6 text-center text-md-left">

 Quer saber mais sobre o projeto?
</div>
<div class="col-md-6 text-md-right">
  Github
  <li>
    <a href="https://github.com/VitalArte" target="_blank" class="icoGithub">
      <i class="fa fa-github-square " aria-hidden="true"></i>
    </a>
  </li>
</div>
<p> Vital Arte © 2021</p>
<p>Generation Br</p>
<p> Todos os direitos reservados </p>



</div>
</div>


</footer>

