<!-- CONTEÚDO TOTAL DA PÁGINA -->
<div class="container-fluid">

  <div id="header" class="topo">
    <!-- Header -->

    <div class="container">
      <!-- Container -->

      <nav class="navbar navbar-expand-lg navbar-light">

        <!-- Logo -->
        <a class="navbar-brand" href="#">
          <img src="../../assets/imagens/logoimprovisado.png">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse  justify-content-end" id="navbarNav">

          <!-- Navegação -->
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/">Início</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/sobre">Sobre nós</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Cadastrar</a>
            </li>
          </ul>

          <button class="header-btn my-2 my-sm-0" type="submit">Entrar</button>
        </div>
      </nav>
    </div> <!-- Container -->
  </div> <!-- Header -->

  <!-- Header -->
  <!-- título/motivador -->
  <div class="row mb-5 bg-roxo-va fundo-barra">
    <h1 class="text-center text-white">VITALARTE TÍTULO MOTIVADOR</h1>
  </div>
  <!-- /título/motivador -->


  <!-- Sobre o projeto -->
  <div class="row d-flex justify-content-center mb-5">
    <div class="col-5 p-3 text-justify align-self-center">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Architecto deserunt temporibus illum doloribus vero officia incidunt aliquam ut saepe eos laborum alias
        voluptas,
        quidem facere iusto labore porro est harum! Quibusdam rerum sint quia quis, minus, impedit eius voluptatibus
        sunt
        molestias laudantium quas expedita ducimus perspiciatis est consectetur odio necessitatibus optio! In id nam sit
        adipisci ut quas error expedita quis nostrum consequuntur nemo aliquam officia perferendis inventore,
        necessitatibus ipsa eaque placeat minus mollitia pariatur voluptates. Aliquid fugit delectus numquam magnam
        ullam
        maiores ad consectetur libero excepturi possimus. Inventore excepturi assumenda dolores architecto ducimus
        labore
        necessitatibus numquam eveniet, hic voluptatum. Debitis magnam ratione sunt repudiandae magni autem aspernatur
        unde officia veniam dignissimos placeat accusantium, necessitatibus quasi cum maxime beatae enim, eligendi illo
        provident error quibusdam exercitationem nostrum hic rerum. Eveniet neque unde sed est laborum quis voluptatum
        molestias delectus sapiente eum iure laudantium sit fugiat tempora, quia, ex consequatur tenetur?</p>

    </div>
    <div class="col-4 text-end">

      <img class="img-fluid object-fit-cover" src="../../assets/imagens/ComposicaoSobre.png"
        alt="Composição com 3 fotos: uma mão pintando em aquarela, silhueta de atores num palco vermelho, guitarrista.">
      <small class="legenda">Photos by: <a
          href="https://unsplash.com/@jakaylatoney?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Jakayla
          Toney</a>, <a
          href="https://unsplash.com/@sweetpagesco?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Sarah
          Brown</a>, <a
          href="https://unsplash.com/@kyleunderscorehead?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Kyle
          Head</a> on <a href="https://unsplash.com/">Unsplash</a></small>
    </div>
  </div>
  <!-- /Sobre o projeto -->

  <!-- Sobre os desenvolvedores -->
  <div class="row d-flex justify-content-center align-items-baseline">

    <!-- Vini Teixeira -->
    <div (mouseover)="toggle()" (mouseout)="toggle()" class="col-2 px-2 border mx-1 cartao bg-light">
      <div class="wrap-image">
        <div class="p-2">
          <div class="text-center">
            <img class="rounded-circle img-fluid w-75"
              src="https://icon-library.com/images/generic-user-icon/generic-user-icon-10.jpg" alt="">
          </div>
          <hr class="w-75 mx-auto">
          <p class="m-0">Nome, descrição breve para deixar curioso?</p>
          <div class="text-center fs-1-8rem" [@piscar]="piscando ? 'on' : 'off'">
            <i *ngIf='!estaAberto' class="fa fa-angle-double-down text-secondary"></i>
          </div>
            <p [@mostrar]="estaAberto ? 'aberto' : 'fechado'" class="text-center" id="sobre">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut maiores dignissimos sed quisquam ipsum, corporis mollitia impedit quos explicabo excepturi? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias sint consequatur quidem quae ut cupiditate obcaecati in id explicabo. Consequatur odit voluptatem dignissimos exercitationem voluptatum!</p>
          <div class="text-center">
            <a href=""><i class="fa fa-github-alt icones-social pe-5" aria-hidden="true"></i>
            </a>
            <a href=""><i class="fa fa-linkedin-square icones-social" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- /Vini Teixeira -->

    <!-- Thana Rodrigues -->
    <div class="col-2 px-2 border mx-3 cartao bg-light">
      <div class="wrap-image">
        <div class="p-2">
          <div class="text-center">
            <img class="rounded-circle img-fluid w-75"
              src="https://icon-library.com/images/generic-user-icon/generic-user-icon-10.jpg" alt="">
          </div>
          <hr class="w-75 mx-auto">
          <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut maiores dignissimos sed
            quisquam ipsum, corporis
            mollitia impedit quos explicabo excepturi? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias
            sint
            consequatur quidem quae ut cupiditate obcaecati in id explicabo. Consequatur odit voluptatem dignissimos
            exercitationem voluptatum!</p>
          <div class="text-center">
            <a href=""><i class="fa fa-github-alt icones-social pe-5" aria-hidden="true"></i>
            </a>
            <a href=""><i class="fa fa-linkedin-square icones-social" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- /Thana Rodrigues -->

    <!-- Leandro Souza -->
    <div class="col-2 px-2 border mx-3 cartao bg-light">
      <div class="wrap-image">
        <div class="p-2">
          <div class="text-center">
            <img class="rounded-circle img-fluid w-75"
              src="https://icon-library.com/images/generic-user-icon/generic-user-icon-10.jpg" alt="">
          </div>
          <hr class="w-75 mx-auto">
          <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut maiores dignissimos sed
            quisquam ipsum, corporis
            mollitia impedit quos explicabo excepturi? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias
            sint
            consequatur quidem quae ut cupiditate obcaecati in id explicabo. Consequatur odit voluptatem dignissimos
            exercitationem voluptatum!</p>
          <div class="text-center">
            <a href=""><i class="fa fa-github-alt icones-social pe-5" aria-hidden="true"></i>
            </a>
            <a href=""><i class="fa fa-linkedin-square icones-social" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- /Leandro Souza -->


    <!-- Ana Oliveira -->
    <div class="col-2 px-2 border mx-3 cartao bg-light">
      <div class="wrap-image">
        <div class="p-2">
          <div class="text-center">
            <img class="rounded-circle img-fluid w-75"
              src="https://icon-library.com/images/generic-user-icon/generic-user-icon-10.jpg" alt="">
          </div>
          <hr class="w-75 mx-auto">
          <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut maiores dignissimos sed
            quisquam ipsum, corporis
            mollitia impedit quos explicabo excepturi? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias
            sint
            consequatur quidem quae ut cupiditate obcaecati in id explicabo. Consequatur odit voluptatem dignissimos
            exercitationem voluptatum!</p>
          <div class="text-center">
            <a href=""><i class="fa fa-github-alt icones-social pe-5" aria-hidden="true"></i>
            </a>
            <a href=""><i class="fa fa-linkedin-square icones-social" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- /Ana Oliveira -->

    <!-- Ícaro Garcez -->
    <div class="col-2 px-2 border mx-3 cartao bg-light">
      <div class="wrap-image">
        <div class="p-2">
          <div class="text-center">
            <img class="rounded-circle img-fluid w-75"
              src="https://icon-library.com/images/generic-user-icon/generic-user-icon-10.jpg" alt="">
          </div>
          <hr class="w-75 mx-auto">
          <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut maiores dignissimos sed
            quisquam ipsum, corporis
            mollitia impedit quos explicabo excepturi? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias
            sint
            consequatur quidem quae ut cupiditate obcaecati in id explicabo. Consequatur odit voluptatem dignissimos
            exercitationem voluptatum!</p>
          <div class="text-center">
            <a href=""><i class="fa fa-github-alt icones-social pe-5" aria-hidden="true"></i>
            </a>
            <a href=""><i class="fa fa-linkedin-square icones-social" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- /Ícaro Garcez -->

  </div>
  <!-- /Sobre os desenvolvedores -->


  <!-- Contato -->
  <div class="mt-5 fst-italic">
    <hr>
    <p class="text-center">Gostou do que viu? Entre em contato com a gente!</p>
    <p class="text-center">equipe.vitalarte@gmail.com</p>
  </div>
  <!-- /Contato -->


</div>
<!-- /CONTEÚDO TOTAL DA PÁGINA -->


<script>
  function displayAbout() {
    let about = document.getElementById('sobre');
    about.classList.toggle('d-none')
  }
</script>
