<!-- CONTEÚDO TOTAL DA PÁGINA -->
<div class="container-fluid fundo">

  <div class="container my-0 py-5">
    <!-- Header -->
    <!-- título/motivador -->
    <div class="row mb-5 mt-3">
      <h1 class="text-center">A nova rede social para artistas</h1>
    </div>
    <!-- /título/motivador -->

    <div class="container">

      <!-- Sobre o projeto -->
      <div class="row d-flex justify-content-center mb-5">
        <div class="col-6 p-3 text-justify align-self-center">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Architecto deserunt temporibus illum doloribus vero officia incidunt aliquam ut saepe eos laborum alias
            voluptas,
            quidem facere iusto labore porro est harum! Quibusdam rerum sint quia quis, minus, impedit eius voluptatibus
            sunt
            molestias laudantium quas expedita ducimus perspiciatis est consectetur odio necessitatibus optio! In id nam
            sit
            adipisci ut quas error expedita quis nostrum consequuntur nemo aliquam officia perferendis inventore,
            necessitatibus ipsa eaque placeat minus mollitia pariatur voluptates. Aliquid fugit delectus numquam magnam
            ullam
            maiores ad consectetur libero excepturi possimus. Inventore excepturi assumenda dolores architecto ducimus
            labore
            necessitatibus numquam eveniet, hic voluptatum. Debitis magnam ratione sunt repudiandae magni autem
            aspernatur
            unde officia veniam dignissimos placeat accusantium, necessitatibus quasi cum maxime beatae enim, eligendi
            illo
            provident error quibusdam exercitationem nostrum hic rerum. Eveniet neque unde sed est laborum quis
            voluptatum
            molestias delectus sapiente eum iure laudantium sit fugiat tempora, quia, ex consequatur tenetur?</p>
        </div>
        <div class="col-5 text-end">

          <img class="img-fluid object-fit-cover" src="../../assets/imagens/ComposicaoSobre.png"
            alt="Composição com 3 fotos: uma mão pintando em aquarela, silhueta de atores num palco vermelho, guitarrista.">
          <small class="legenda">Photos by: <a
              href="https://unsplash.com/@jakaylatoney?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Jakayla
              Toney</a>, <a
              href="https://unsplash.com/@sweetpagesco?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Sarah
              Brown</a>, <a
              href="https://unsplash.com/@kyleunderscorehead?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Kyle
              Head</a> on <a href="https://unsplash.com/">Unsplash</a></small>
        </div>
      </div>
      <!-- /Sobre o projeto -->

      <!-- Tecnologias -->
      <section class="tecnologias d-flex align-items-center border-top border-bottom mb-5">
        <em class="ms-5">Feito com:</em>
        <ul class="d-flex icones-tec justify-content-evenly mb-0">
          <li class="mx-5 mb-0"><i class="devicon-java-plain-wordmark"></i></li>
          <li class="mx-5 mb-0"><i class="devicon-spring-plain"></i></li>
          <li class="mx-5 mb-0"><i class="devicon-mysql-plain"></i></li>
          <li class="mx-5 mb-0"><i class="fa fa-github"></i></li>
          <li class="mx-5 mb-0"><i class="fa fa-html5"></i></li>
          <li class="mx-5 mb-0"><i class="fa fa-css3"></i></li>
          <li class="mx-5 mb-0"><i class="devicon-bootstrap-plain"></i></li>
          <li class="mx-5 mb-0"><i class="devicon-angularjs-plain"></i>
          </li>
        </ul>
      </section>

    <!-- /Tecnologias -->


      <!-- Sobre os desenvolvedores -->
      <div class="row d-flex justify-content-center align-items-baseline">

        <!-- Vini Teixeira -->
        <div (mouseover)="toggleVini()" (mouseout)="toggleVini()"  class="col px-2 border mx-1 cartao bg-light">
          <div class="wrap-image">
            <div class="p-2">
              <div class="text-center">
                <img class="rounded-circle img-fluid w-75"
                  src="../../assets/imagens/vini.jpeg" alt="">
              </div>
              <hr class="w-75 mx-auto">
              <p class="m-0">Vinícius Teixeira</p>
              <div *ngIf='!estaAbertoV' class="text-center fs-1-8rem animate__animated animate__flash animate__infinite">
                <i class="fa fa-angle-double-down text-secondary"></i>
              </div>
              <p [@mostrar]="estaAbertoV ? 'aberto' : 'fechado'" class="text-center animate__animated" id="sobreVini">Lorem ipsum dolor sit
                amet
                consectetur adipisicing elit. Ut maiores dignissimos sed quisquam ipsum, corporis mollitia impedit quos
                explicabo excepturi? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias sint consequatur
                quidem quae ut cupiditate obcaecati in id explicabo. Consequatur odit voluptatem dignissimos
                exercitationem voluptatum!</p>
              <div class="text-center">
                <a href=""><i class="fa fa-github-alt icones-social pe-5" aria-hidden="true"></i>
                </a>
                <a href=""><i class="fa fa-linkedin-square icones-social" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- /Vini Teixeira -->

        <!-- Ícaro Garcez -->
        <div (mouseover)="toggleIcaro()" (mouseout)="toggleIcaro()" class="col px-2 border mx-1 cartao bg-light">
          <div class="wrap-image">
            <div class="p-2">
              <div class="text-center">
                <img class="rounded-circle img-fluid w-75"
                  src="../../assets/imagens/icaro.jpg" alt="">
              </div>
              <hr class="w-75 mx-auto">
              <p class="m-0">Ícaro Garcez</p>
              <div *ngIf='!estaAbertoI' class="text-center fs-1-8rem animate__animated animate__flash animate__infinite">
                <i class="fa fa-angle-double-down text-secondary"></i>
              </div>
              <p [@mostrar]="estaAbertoI ? 'aberto' : 'fechado'" class="text-center" id="sobre">Lorem ipsum dolor sit
                amet
                consectetur adipisicing elit. Ut maiores dignissimos sed quisquam ipsum, corporis mollitia impedit quos
                explicabo excepturi? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias sint consequatur
                quidem quae ut cupiditate obcaecati in id explicabo. Consequatur odit voluptatem dignissimos
                exercitationem voluptatum!</p>
              <div class="text-center">
                <a href=""><i class="fa fa-github-alt icones-social pe-5" aria-hidden="true"></i>
                </a>
                <a href=""><i class="fa fa-linkedin-square icones-social" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- /Ícaro Garcez -->

        <!-- Thana Rodrigues -->
        <div (mouseover)="toggleThana()" (mouseout)="toggleThana()" class="col px-2 border mx-1 cartao bg-light">
          <div class="wrap-image">
            <div class="p-2">
              <div class="text-center">
                <img class="rounded-circle img-fluid w-75"
                  src="../../assets/imagens/thana.jpg" alt="">
              </div>
              <hr class="w-75 mx-auto">
              <p class="m-0">Thana Rodrigues</p>
              <div *ngIf='!estaAbertoT' class="text-center fs-1-8rem animate__animated animate__flash animate__infinite">
                <i class="fa fa-angle-double-down text-secondary"></i>
              </div>
              <p [@mostrar]="estaAbertoT ? 'aberto' : 'fechado'" class="text-center" id="sobre">Lorem ipsum dolor sit
                amet
                consectetur adipisicing elit. Ut maiores dignissimos sed quisquam ipsum, corporis mollitia impedit quos
                explicabo excepturi? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias sint consequatur
                quidem quae ut cupiditate obcaecati in id explicabo. Consequatur odit voluptatem dignissimos
                exercitationem voluptatum!</p>
              <div class="text-center">
                <a href=""><i class="fa fa-github-alt icones-social pe-5" aria-hidden="true"></i>
                </a>
                <a href=""><i class="fa fa-linkedin-square icones-social" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- /Thana Rodrigues -->


        <!-- Ana Oliveira -->
        <div (mouseover)="toggleAna()" (mouseout)="toggleAna()" class="col px-2 border mx-1 cartao bg-light">
          <div class="wrap-image">
            <div class="p-2">
              <div class="text-center">
                <img class="rounded-circle img-fluid w-75"
                  src="../../assets/imagens/ana.jpg" alt="">
              </div>
              <hr class="w-75 mx-auto">
              <p class="m-0">Ana Oliveira</p>
              <div *ngIf='!estaAbertoA' class="text-center fs-1-8rem animate__animated animate__flash animate__infinite">
                <i class="fa fa-angle-double-down text-secondary"></i>
              </div>
              <p [@mostrar]="estaAbertoA ? 'aberto' : 'fechado'" class="text-center" id="sobre">Lorem ipsum dolor sit
                amet
                consectetur adipisicing elit. Ut maiores dignissimos sed quisquam ipsum, corporis mollitia impedit quos
                explicabo excepturi? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias sint consequatur
                quidem quae ut cupiditate obcaecati in id explicabo. Consequatur odit voluptatem dignissimos
                exercitationem voluptatum!</p>
              <div class="text-center">
                <a href=""><i class="fa fa-github-alt icones-social pe-5" aria-hidden="true"></i>
                </a>
                <a href=""><i class="fa fa-linkedin-square icones-social" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- /Ana Oliveira -->

        <!-- Leandro Souza -->
        <div (mouseover)="toggleLe()" (mouseout)="toggleLe()" class="col px-2 border mx-1 cartao bg-light">
          <div class="wrap-image">
            <div class="p-2">
              <div class="text-center">
                <img class="rounded-circle img-fluid w-75"
                  src="../../assets/imagens/lele.jpg" alt="">
              </div>
              <hr class="w-75 mx-auto">
              <p class="m-0">Leandro Souza</p>
              <div *ngIf='!estaAbertoL' class="text-center fs-1-8rem animate__animated animate__flash animate__infinite">
                <i class="fa fa-angle-double-down text-secondary"></i>
              </div>
              <p [@mostrar]="estaAbertoL ? 'aberto' : 'fechado'" class="text-center" id="sobre">Lorem ipsum dolor sit
                amet
                consectetur adipisicing elit. Ut maiores dignissimos sed quisquam ipsum, corporis mollitia impedit quos
                explicabo excepturi? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias sint consequatur
                quidem quae ut cupiditate obcaecati in id explicabo. Consequatur odit voluptatem dignissimos
                exercitationem voluptatum!</p>
              <div class="text-center">
                <a href=""><i class="fa fa-github-alt icones-social pe-5" aria-hidden="true"></i>
                </a>
                <a href=""><i class="fa fa-linkedin-square icones-social" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- /Leandro Souza -->

      </div>
      <!-- /Sobre os desenvolvedores -->
    </div>

  </div>
  <!-- Contato -->
  <div class="fst-italic  mt-0">
    <hr class="p-0 m-0">
    <p class="text-center">Gostou do que viu? Entre em contato com a gente!</p>
    <p class="text-center m-0">equipe.vitalarte@gmail.com</p>
  </div>
  <!-- /Contato -->



</div>
<!-- /CONTEÚDO TOTAL DA PÁGINA -->

