.icones-social {
  font-size: 1.6rem;
  color: blueviolet !important;
}

.icones-social:hover {
  color: rgba(137, 43, 226, 0.383) !important;
}

.legenda {
  font-size: 0.7rem;
}

.legenda a {
  color: black;
}

.fundo-barra {
  background: linear-gradient(to right, #8836ff 0%, #1e88e9 70%, #1ee990 100%);
background: gradient;
}

.cartao {
  font-size: 0.9rem;
}

/* hover cartão */


/* .wrap-image {
  position: relative;
  &::before,
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    border: 2px solid yellow;
    transition: all .25s ease-out;
  }
  &::before {
    background-color: yellow;
    top: -15px;
    left: -15px;
  }
  &::after {
    bottom: -15px;
    right: -15px;
  }
  &:hover {
    &::before {
      top: 15px;
      left: 15px;
    }
    &::after {
      bottom: 15px;
      right: 15px;
    }
  }
} */
