

.icones-menu{
    font-size: 30px;
    color: #8836ff
}

.fundo-claro{
    background-color: rgba(255, 255, 255, 0.438);

}

.btn-outline-dark{
    background-color: #8836ff;
}

li a {
    color: #8836ff;
}
