<nav class="navbar navbar-expand-lg fundo-dark m-0 p-0 pb-2 desktop">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/feed">
      <img
        src="../../assets/imagens/LogoVA.png"
        onmouseover="this.src='./assets/imagens/VA_LogoMenu.png'"
        onmouseout="this.src='../../assets/imagens/LogoVA.png'"
        alt="Logo VitalArte"
        width="auto"
        height="60px"
        class="ms-3"
      />
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mt-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active d-flex flex-column me-4" aria-current="page" routerLink="/feed"> <i
              class="fa fa-home icones-menu ms-2" aria-hidden="true"></i>Home</a>
        </li>
        <li class="nav-item dropdown d-flex">
          <a class="nav-link pb-0" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{{foto}}" alt="Foto do Usuário" width="40px" height="40px"  class="img-fluid rounded-circle">
          </a>
          <a class="nav-link dropdown-toggle me-4 py-0 ps-0 align-self-center" id="navbarDropdown"
            role="button" data-bs-toggle="dropdown" aria-expanded="false">
          </a>
          <ul class="dropdown-menu me-4" aria-labelledby="navbarDropdown">
            <!-- <li><a class="dropdown-item" href="#">Visualizar perfil</a></li> -->
            <li><a [routerLink]="['/editar-usuario', id]" class="dropdown-item">Configurações da conta</a></li>
          </ul>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link d-flex flex-column me-4 text-white" href="#">
              <i class="fa fa-paint-brush icones-menu ms-3" aria-hidden="true"></i>Projetos</a>
          </li> -->
        <li class="nav-item">
          <a class="nav-link d-flex flex-column me-4" routerLink="/tema">
            <i class="fa fa-tags icones-menu ms-3"></i>Temas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex flex-column me-4" (click)='sair()'>
            <i class="fa fa-sign-out icones-menu ms-3 text-center"></i>Sair</a>
        </li>
      </ul>
      <!-- <form class="d-flex w-35">
          <input class="form-control me-2" type="search" placeholder="Pesquise por tema, usuário ou palavra-chave" aria-label="Search">
          <button class="btn btn-outline-dark" type="submit">Pesquisar</button>
        </form> -->
    </div>
  </div>
</nav>

<!-- ! Menu mobile -->
<nav class="mobile fundo-dark">
  <div class="d-flex justify-content-between align-items-center px-3">
    <a routerLink="/feed" class="my-0 py-0">
      <img src="../../assets/imagens/LogoVA.png" alt="Logo VitalArte" width="auto" height="30px">
    </a>

    <img src="{{foto}}" alt="Foto do Usuário" width="50px" height="50px"
      class="img-fluid rounded-circle img-usuario mt-2">

    <div>
      <a aria-current="page" routerLink="/feed"> <i class="fa fa-home icones-menu ms-2" aria-hidden="true"></i></a>

      <a routerLink="/tema"><i class="fa fa-tags icones-menu ms-3"></i></a>
    </div>
  </div>
</nav>
