<nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../../assets/imagens/VA.png" alt="" width="auto" height="100">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mt-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active d-flex flex-column me-4 text-white" aria-current="page" href="#"> <i class="fa fa-home icones-menu ms-2" aria-hidden="true"></i>Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link me-4 pb-0" href="#"> <img src="https://icon-library.com/images/generic-user-icon/generic-user-icon-10.jpg" alt="Ícone de projetos" width="50px" height="50px" class="img-fluid rounded-circle"></a>
              <a class="nav-link dropdown-toggle me-4 py-0 text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Perfil
              </a>
            <ul class="dropdown-menu me-4" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Visualizar perfil</a></li>
              <li><a class="dropdown-item" href="#">Configurações da conta</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link d-flex flex-column me-4 text-white" href="#">
              <i class="fa fa-paint-brush icones-menu ms-3" aria-hidden="true"></i>Projetos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link d-flex flex-column me-4 text-white" routerLink="/tema">
              <i class="fa fa-envelope-open icones-menu ms-3" aria-hidden="true"></i>Temas</a>
          </li>
        </ul>
        <form class="d-flex w-35">
          <input class="form-control me-2" type="search" placeholder="Pesquise por tema, usuário ou palavra-chave" aria-label="Search">
          <button class="btn btn-outline-dark" type="submit">Pesquisar</button>
        </form>
      </div>
    </div>
  </nav>
