

.icones-menu{
    font-size: 30px;
    color: #8836ff;
    cursor: pointer;
}

.fundo-dark{
    background-color: #263238;
    border-bottom: 2px solid #8836ff;
}

.btn-outline-dark{
    background-color: #8836ff;
}

li a {
    color: #8836ff;
    cursor: pointer;
}
