

.icones-menu{
    font-size: 30px;
    color: #8836ff;
    cursor: pointer;
}

.fundo-dark{
    background-color: #263238;
    border-bottom: 2px solid #8836ff;
}

.btn-outline-dark{
    background-color: #8836ff;
}

li a {
    color: #8836ff;
    cursor: pointer;
}

.mobile{
  display: none;
}

@media(max-width: 450px) {
  .desktop {
    display: none !important;
  }

  .mobile {
    display: block !important;
    height: 50px;
  }

  .img-usuario {
    border: 2px solid #8836ff !important;
  }

  .icones-menu{
    font-size: 20pt;
    color: #8836ff;
    
  }

  a > .icones-menu:hover{
      color: #1ee990 !important;
  }
}
