<h1>Cadastre-se</h1>
<form>
    <div class="mb-3">
        <label for="nome" class="form-label">Nome Completo</label>
        <input type="text" class="form-control" id="nome" aria-describedby="nome">
      </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" aria-describedby="email">
    </div>
    <div class="mb-3">
      <label for="senha" class="form-label">Senha</label>
      <input type="password" class="form-control" id="senha">
    </div>
    <div class="mb-3">
        <label for="confirmeSenha" class="form-label">Confirme sua senha</label>
        <input type="password" class="form-control" id="confirmeSenha">
      </div>
      <div class="mb-3">
        <label for="foto" class="form-label">Link da foto</label>
        <input type="text" class="form-control" id="foto" aria-describedby="foto">
      </div>
      <div class="mb-3">
        <label for="bio" class="form-label">Bio</label>
        <textarea class="form-control" name="bio" id="bio" cols="50" rows="5"></textarea>
      </div>
      <div>
        <select class="form-select" aria-label="Default select example">
            <option selected>Tipo da conta</option>
            <option value="artista">Artista</option>
            <option value="empresa">Empresa</option>
            <option value="espectador">Espectador</option>
            <option value="admin">Administrador</option>
          </select>
      </div>
      <div>
        <button type="submit" class="btn btn-danger">Cancelar</button>
        <button type="submit" class="btn btn-primary">Enviar</button>
      </div>
  </form>
