<div class= "container-fluid d-flex fundo">
<div class="me-0 ms-0 p-0 mt-0 vw-100 vh-100">
  <div class="container-fluid">
<div class="caixa" id= "caixa">

  <div class="container-fluid">
    <div>
      <div class="form">
        <div class="row">
          <h2 class="mb-4 mt-3 text-center">Cadastro</h2>

          <!-- Nome -->
          <div class="input-group col-lg-6 mb-4">
            <input [(ngModel)]='usuario.nome' id="nome" type="text" name="name" placeholder="Nome"
              class="form-control">
          </div>

          <!-- Email -->
          <div class="input-group col-lg-6 mb-4">
            <input [(ngModel)]='usuario.email' id="email" type="email" name="email" placeholder="Email"
              class="form-control">
          </div>

          <!-- Link da Foto -->
          <div class="input-group col-lg-12 col-lg-6 mb-4">
            <input [(ngModel)]='usuario.foto' id="foto" type="text" name="foto" placeholder="Link da sua foto (Opcional)" class="form-control">
          </div>

          <!-- Biografia -->
          <div class="input-group col-lg-12 col-lg-6 mb-4">
            <textarea [(ngModel)]='usuario.biografia' class="form-control" name="bio" id="bio" cols="50" rows="2"
              placeholder="Conte mais sobre você"></textarea>
          </div>

          <!-- Tipo de Conta -->
          <div class="input-group col-lg-12 col-lg-6 mb-4">
            <select (change)='tipoUsuario($event)' for="tipoUsuario" id="tipoUsuario" name="tipoUsuario"
              class="form-control custom-select">
              <option selected>Tipo de Conta</option>
              <option value="artista">Artista</option>
              <option value="empresa">Empresa</option>
              <option value="espect">Espectador</option>
              <option value="admin">Administrador</option>
            </select>
          </div>

          <!-- Senha -->
          <div class="input-group col-lg-6 mb-4">
            <input (input)='confirmarSenha($event)' id="senha" type="password" name="senha" placeholder="Senha"
              class="form-control">
          </div>

          <!-- Confirmar a sua Senha -->
          <div class="input-group col-lg-6 mb-4">
            <input [(ngModel)]='usuario.senha' id="confirmeSenha" type="password" name="confirmeSenha"
              placeholder="Confirme sua senha" class="form-control">
          </div>

          <!-- Criar conta -->
          <div class="form-group">
            <a (click)='cadastrar()' type="submit" class="btn py-2" id= "criar">
              <span>Criar a sua conta</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="coluna"><div class="row conectar">
    <a id= "inicio" routerLink='/'>Voltar para o início</a>
    <h1>Conecte-se</h1>
    <div>
      <h4>Criar, expressar, compartilhar e valorizar.</h4>
      <a routerLink='/logar' type="submit" class="btn py-2" id="logar">
        <span>Faça Login</span>
      </a>
    </div>
  </div>
</div>
</div>
  </div>
</div>
</div>
