<div class="container-fluid cobrinha">
  <div class="row">
    <div class="col-3 m-0">
      <div class="d-flex flex-column">
        <div class="col-md-6">
          <div class="container-fluid"></div>
          <button class="btn btn-light text-btn mr-2" data-bs-toggle="modal" data-bs-target="#novaPostagem">Nova
            postagem</button>
          <a class="btn btn-outline-light" href="#postagens">Ver postagens</a>
          <app-barrauser></app-barrauser>
        </div>
      </div>

    </div>
    <div class=" mt-2 col-8">
      <div class="row color d-flex align-items-center">

        <!-- ? coluna da esquerda, que contém a mensagem de boas vindas. -->

          <!-- ! row que contém os botões -->
          <!-- <div class="row d-flex justify-content-center mt-3 mb-5">
            <div class="col-md-6">
              <button class="btn btn-light text-btn mr-2" data-bs-toggle="modal" data-bs-target="#novaPostagem">Nova
                postagem</button>
              <a class="btn btn-outline-light" href="#postagens">Ver postagens</a>
            </div>
          </div> -->
      </div>



      <!-- todo Row que contém a nav de postagens -->

      <div class="container mb-5 mt-5" id="postagens">
            <div *ngFor='let postagem of listaPostagem' class="card bg-light">
              <!-- <div class="card-header">
                <div class="row">
                  <div class="col-md-2">
                    <img class="rounded-circle" src="{{postagem.usuario.foto}}" alt="Foto do autor do post">
                  </div>
                  <div class="col-md-4">
                    <div class="d-flex flex-column">
                      <p>{{postagem.usuario.nome}}</p>
                      <p>{{postagem.data | date: 'dd/MM/yyyy'}}</p>
                    </div>
                  </div>
                </div>
              </div> -->

              <div class="card-body">
                <h5 class="card-title">{{postagem.titulo}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{postagem.usuario}}</h6>
                <p class="card-text">{{postagem.corpo}}</p>

              </div>
            </div>
          </div>

          <div class="tab-pane fade" id="nav-minhasPostagens" role="tabpanel" aria-labelledby="nav-minhasPostagens-tab">
            Minhas postagens
          </div>

          <div class="tab-pane fade" id="nav-postagemTema" role="tabpanel" aria-labelledby="nav-postagemTema-tab">
            Postagens por tema
          </div>
        </div>
  </div>
</div>

<!-- ! Modal para fazer postagens -->

<!-- Modal -->
<div class="modal fade" id="novaPostagem" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TituloModalCentralizado">Nova Postagem</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="form-group">
          <label for="titulo">Título</label>
          <input [(ngModel)]='postagem.titulo' type="text" class="form-control" id="titulo"
            placeholder="Digite o título">


        </div>

        <div class="form-group">
          <label for="corpo">Corpo</label>
          <textarea class="form-control" name="corpo" [(ngModel)]='postagem.corpo' class="form-control" id="corpo"
            placeholder="Digite o título">
          rows="3"></textarea>
        </div>

        <div class="form-group">
          <label for="texto">Escolha um tema <a data-dismiss="modal" routerLink='/tema'>cadastre um novo</a>: </label>
          <select name="tema" id="tema" class="form-control">
            <option value="">Temas</option>
          </select>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" (click)='cadastrar()' data-bs-dismiss="modal" class="btn btn-success">Publicar</button>
      </div>
    </div>
  </div>
</div>
