<div class="container-fluid fundo-escuro">

  <!-- <div class="row desktop">

  </div> -->

  <div class="row">
    <div class="col-4 mt-5 desktop">
      <!-- Barra de Pesquisa -->
      <form class="mt-2 me-4 d-flex justify-content-end">
        <input name="nomeUser" [(ngModel)]='nomeUsuario' (keyup)='getPostagensByUsuarioNome()'
          class="form-control barra-pesquisa" type="search" placeholder="Pesquise por nome de usuário" aria-label="Search">
      </form>
      <!-- /Barra de Pesquisa -->
      <app-barrauser></app-barrauser>
      <div class="container d-flex flex-column-reverse align-items-end">
        <a class="btn rounded-0 sidenav-btn text-white" data-bs-toggle="modal"
          data-bs-target="#novaPostagem">Nova postagem</a>
        <!-- <div class="botoes d-flex justify-content-center"> -->
        <a class="btn rounded-0 borda-azul sidenav-btn text-white" (click)='getPostagensByUsuario()'>Minhas
          postagens</a>
        <a class="btn rounded-0 borda-azul sidenav-btn text-white " (click)='getPostagens()'>Todas as postagens</a>
      </div>

    </div>

    <!-- ! Menu mobile -->

    <div class="dropdown mobile mt-3 mb-n3">
      <a role="button" class="btn rounded-circle fs-lg acoes-mobile d-flex align-items-center justify-content-center" type="button" id="dropdownMenuMobile" data-bs-toggle="dropdown" aria-expanded="false">
        +
      </a>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuMobile">
        <li><a class="dropdown-item"(click)='getPostagens()'>Todas as postagens</a></li>
        <li><a class="dropdown-item"(click)='getPostagensByUsuario()'>Minhas
          postagens</a></li>
        <li><a class="dropdown-item" data-bs-toggle="modal"
          data-bs-target="#novaPostagem">Nova postagem</a></li>
      </ul>
    </div>

    <!-- todo Col que contém as postagens -->

    <div class="col-lg-6 col-md-8 col-sm-12">
      <div class="container mb-5 mt-3" id="postagens" *ngIf='!feedBusca'>
        <div *ngFor='let postagem of listaPostagem | orderBy : key:reverse' class="card bg-light mb-5">
          <div class="card-header d-flex py-2">
            <div class="p-0" *ngIf='postagem.usuario.foto != null'>
              <img class="rounded-circle img-size-user me-2" src="{{postagem.usuario.foto}}"
                alt="Foto do autor do post">
            </div>
            <div class="row">
              <p class="mt-auto mb-0 fs-12">{{postagem.usuario.nome}}</p>
              <p class="my-0 py-0 data text-muted">{{postagem.datahora | date: 'dd/MM/yyyy'}}</p>
            </div>
            <h5 class="ms-auto align-self-center">{{postagem.titulo}}</h5>
          </div>
          <div class="card-body d-flex flex-column">
            <p class="m-0 p-0 text-muted"><em>Tema: {{postagem.tema.tema}}</em></p>
            <img class="mx-auto my-2" style="max-width: 85%; max-height
            :400px;" *ngIf='postagem.multimidia != null' src="{{postagem.multimidia}}" alt="Foto de postagem">
            <p class="card-text my-2 w-85 mx-auto">{{postagem.corpo}}</p>
            <div class="hashtags text-end my-2">{{postagem.hashtags}}
            </div>
            <hr class="m-0">
          </div>
          <div class="d-flex mb-2 mx-4">
            <a (click)="getByIdPostagensCurtir(postagem.id); curtindo()">
              <img src="../../assets/imagens/palminhas.png" alt="">
            </a>
            <p class="ms-3"><strong>{{postagem.curtidas}}</strong> palminhas</p>
            <a *ngIf='postagem.usuario.id == usuario.id' (click)='getByIdPostagens(postagem.id)'
              class="editar ms-auto py-2" data-bs-toggle="modal" data-bs-target="#editarPostagem">Editar</a>
          </div>
        </div>
      </div>


      <!--
        Tentantiva de pesquisa por tema

        <div class="container mb-5 mt-5" id="postagens" *ngIf='feedBusca'>
      <div class="card-columns" *ngFor='let tema of listaTema'>
        <div class="card mt-3 me-3" *ngFor='let postagem of tema.postagens | orderBy : key : reverse'>
          <div class="card-header d-flex py-2 arredondada-header">
            <div class="p-0">
              <img class="rounded-circle img-size-user" src="{{postagem.usuario.foto}}" alt="Foto do autor do post">
            </div>
            <div class="row">
              <p class="align-self-center mb-0">{{postagem.usuario.nome}}</p>
              <p class="my-0 py-0 data text-muted"><small>{{postagem.datahora | date: 'dd/MM/yyyy'}}</small></p>
            </div>
            <h5 class="ms-auto align-self-center">{{postagem.titulo}}</h5>
          </div>
          <div class="card-body d-flex flex-column">
            <p class="m-0 p-0 text-muted"><em>Tema: {{postagem.tema.tema}}</em></p>
            <img class="mx-auto my-2" style="max-width: 75%; max-height
            :500px;" *ngIf='postagem.multimidia != null'
              src="{{postagem.multimidia}}" alt="Foto de postagem">
            <p class="card-text my-2 w-75 mx-auto">{{postagem.corpo}}</p>
            <div class="hashtags text-end my-2">{{postagem.hashtags}}
            </div>
            <hr class="m-0">
          </div>
          <div class="d-flex mb-2 mx-4">
            <a (click)="getByIdPostagensCurtir(postagem.id); curtindo()">
              <img src="../../assets/imagens/palminhas.png" alt="">
            </a>
            <p class="ms-3"><strong>{{postagem.curtidas}}</strong> palminhas</p>
            <a *ngIf='postagem.usuario.id == usuario.id' (click)='getByIdPostagens(postagem.id)'
              class="btn btn-azul ms-auto py-2 text-white" data-bs-toggle="modal"
              data-bs-target="#editarPostagem">Editar</a>
          </div>
          </div>
        </div>
        </div> -->

      <div class="tab-pane fade" id="nav-minhasPostagens" role="tabpanel" aria-labelledby="nav-minhasPostagens-tab">
        Minhas postagens
      </div>

      <div class="tab-pane fade" id="nav-postagemTema" role="tabpanel" aria-labelledby="nav-postagemTema-tab">
        Postagens por tema
      </div>
    </div>
  </div>
</div>

<!-- ! Modal para fazer postagens -->

<!-- Modal -->
<div class="modal fade" id="novaPostagem" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TituloModalCentralizado">Nova Postagem</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="form-group">
          <div class="mb-3">
            <label for="titulo">Título</label>
            <input [(ngModel)]='postagem.titulo' type="text" class="form-control" id="titulo"
              placeholder="Digite o título">
          </div>
          <div class="mb-3">
            <label for="midia">Foto</label>
            <input [(ngModel)]='postagem.multimidia' type="text" class="form-control" id="midia"
              placeholder="Deseja adicionar uma foto?">
          </div>
          <div class="mb-3">

            <label for="corpo">Corpo</label>
            <textarea class="form-control" name="corpo" [(ngModel)]='postagem.corpo' class="form-control" id="corpo"
              placeholder="Digite o corpo" rows="3"></textarea>
          </div>
          <div class="mb-3">

            <label for="hashtags">Hashtags</label>
            <input [(ngModel)]='postagem.hashtags' type="text" class="form-control" id="hashtags"
              placeholder="#musica #projetos #etc">
          </div>
          <div class="mb-3">

            <label for="texto">Escolha um tema <a *ngIf='usuario.tipoConta == "admin"' data-bs-dismiss="modal"
                routerLink='/tema'>entenda mais sobre eles</a>: </label>
            <select [(ngModel)]='tema.id' name="tema" id="tema" class="form-select form-control"
              (change)='getByIdTema(tema.id)'>
              <option *ngFor='let tema of listaTema' value="{{tema.id}}">{{tema.tema}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" (click)='cadastrar()' data-bs-dismiss="modal" class="btn btn-success">Publicar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal: editar postagem -->
<div class="modal fade " id="editarPostagem" tabindex="-1" aria-labelledby="editarPostagemLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Postagem</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="titulo" class="form-label">Título</label>
            <input [(ngModel)]='postagemEdit.titulo' type="text" class="form-control" name="titulo" id="titulo"
              aria-describedby="titulo" placeholder="Digite seu título">
          </div>
          <div class="mb-3">
            <label for="corpo" class="form-label">Corpo</label>
            <textarea [(ngModel)]='postagemEdit.corpo' name="corpo" id="corpo" cols="30" rows="5" class="form-control"
              placeholder="O corpo da postagem deve ter no mínimo 10 caracteres."></textarea>
          </div>
          <div class="mb-3">
            <label for="tema" class="form-label">Escolha um tema ou <a data-bs-dismiss="modal"
                routerLink="/tema">cadastre um novo</a>:</label>
            <select [(ngModel)]='temaEdit.id' name="tema" id="tema" class="form-select form-control"
              (change)='getByIdTema(postagemEdit.tema.id)'>
              <option *ngFor='let tema of listaTema' value="{{tema.id}}">{{tema.tema}}</option>
            </select>
          </div>
          <a data-bs-toggle="modal" data-bs-target="#apagarPostagem" data-bs-dismiss="modal" class="mb-3">Deseja apagar
            esta postagem?</a>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" data-bs-dismiss="modal" class="btn btn-primary"
          (click)='atualizarPostagem(postagemEdit.id)'>Salvar alterações</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal: apagar postagem -->
<div class="modal fade" id="apagarPostagem" tabindex="-1" aria-labelledby="apagarPostagemLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Apagar Postagem</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
          Você tem certeza que deseja apagar a postagem <strong>{{postagemEdit.titulo}}</strong>?
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" data-bs-dismiss="modal" class="btn btn-primary" (click)='apagarPostagem()'>Apagar</button>
      </div>
    </div>
  </div>
</div>
