.fundo-escuro {
  background-color: #263238;

}

.img-size-user {
  height: 68px;
  width: 68px;
  object-fit: cover;
  padding: 0 !important;
}

.sidenav-btn {
  background-color: #263238;
  width: 35vh;

}

.newpost:hover {
  background-color: #1ee990;
  color: #263238;
}

.fs-12 {
  font-size: 0.8rem;
}


#postagens h5 {
  font-size: 1.8rem;
}

#postagens p {
  font-size: 1.15rem;
}

#postagens .hashtags {
  color: #8F55F8
}


a {
  cursor: pointer;
}

.btn-azul {
  background-color: #1e88e9;

}

.data {
  font-size: 0.2rem;
}
