.fundo-escuro {
  background-color: #263238;

  background-image: url('../../assets/imagens/fundofeed_op1.png');
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-size: auto 100vh;
}

.img-size-user {
  height: 68px;
  width: 68px;
  object-fit: cover;
  padding: 0 !important;
}

.sidenav-btn {
  background-color: #7B43CD;

  width: 32vw;
  max-width: 350px;

}

.barra-pesquisa {
  width: 32vw;
  max-width: 350px;
}

.sidenav-btn:hover {
  background-color: #1ee990;
}

.fs-12 {
  font-size: 1rem !important;
}

.borda-azul {
  border-bottom: 1px solid #8836ff;
}

#postagens h5 {
  font-size: 1.5rem;
  font-weight: 700;
  text-align:end;
}

#postagens p {
  font-size: 1.15rem;
}

#postagens .hashtags {
  color: #8F55F8
}


a {
  cursor: pointer;
}

.editar {
  color: #1e88e9;
  font-weight: 700;
  font-style: italic;
  text-decoration: underline;

}

.data {
  font-size: 0.8rem !important;
}

.mobile {
  display: none;
}

.fs-lg {
  font-size: 3rem;
  font-weight: 900;
  padding: 0;
  margin: 0;
  color: white;
  text-align: center;
}

.acoes-mobile {
  background-color: #7B43CD;
  height: 50px;
  width: 50px;
  box-shadow: inset 0em 0em 10px rgba(0, 0, 0, 0.418);
}

.w-85 {
  width: 85%
}


@media(max-width: 440px){

  .sidenav-btn {
    display: none;
  }

  #postagens h5 {
    font-size: 1.3rem;
    font-weight: 700;
    text-align:end;
  }

  .mobile {
    display: inline;
  }

  .desktop {
    display: none;
  }

  .card-body p {
    width: 95% !important;
  }

  .fundo-escuro {
    background-color: #263238;

    background-image: url('../../assets/imagens/fundofeed_op1.png');
    background-attachment: fixed;
    background-size: auto 100vh;
    background-position: bottom right;
  }


}
