html,
body,
header,
#background{
    background-image: url("../../assets/imagens/bannerbackground.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100vw;
    min-height: 100vh
}



