<section class="container">
  <div class="sidenav m-4">
    <div class="editar">
      <a href="" class="font-weight-bold text-dark fs-16">
        <i class="fas fa-user-edit"></i>
      </a>
    </div>

    <div class="container d-flex align-items-center m-5">
      <div class="p-3">
        <img
          src="https://scontent.fcgh17-1.fna.fbcdn.net/v/t1.6435-9/103298547_279341586751824_6371026272168969696_n.jpg?_nc_cat=1&ccb=1-3&_nc_sid=09cbfe&_nc_eui2=AeFhSu94cEoFkNVwTVdfXXJbLPwe9dIw5jks_B710jDmObCS-o9f3aWfe35ItIh5iTDdMj64HIkcw3zL01kk2ymE&_nc_ohc=0FsIeC8Nzm4AX_nrsSv&_nc_ht=scontent.fcgh17-1.fna&oh=ad3a5bc6480dead93625f14307f57dcc&oe=61263E7E"
          alt="Foto do usuário"
          width="100px"
          height="100px"
          class="rounded-circle"


        />
      </div>
    </div>
    <div>
      Michael Jackson
    </div>
    <hr>


        <div>
          Cantor, compositor e dançarino estadunidense.
      </div>

      <p class="identity-headline t-12 t-black--light t-normal mt1">
        Meus projetos: Shows, video clips
      </p>

        <div>
          Meus projetos: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit, distinctio?
        </div>
        7ui8
        <br>
        <br>
        <div class="text-start p-2">
          Github:
        </div>

        <div class="text-start p-2">
          Instagram:
        </div>


  </div>
</section>
