.container {
  max-width: 1200px;

  text-align: center;

  display: inline;

  font-style: italic;
}

.sidenav {
  /* position: absolute; */
  left: 3.82%;
  right: 68.68%;
  top: 23.24%;
  bottom: 15.92%;

  height: 600px;
  width: 35vh;




  background: #263238;
  border-radius: 47px;


}

.editar {
  float: right;
  margin: 20px;
}
.fs-16 {
  font-size: 16pt;
}

a.btn-nome:hover {
  width: 100px;
  background:turquoise;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 5px;
  margin: 5px 5px;
  text-decoration: underline;

}
