<section class="container text-white d-flex">
  <div class="sidenav ms-auto mt-4 rounded px-1">
    <div class="editar">
      <a
        [routerLink]="['/editar-usuario', id]"
        class="font-weight-bold text-white fs-16"
      >
        <i class="fa fa-pencil"></i>
      </a>
    </div>

    <div class="container d-flex align-items-center justify-content-center">
      <div class="p-3">
        <img
          src="{{ foto }}"
          alt="Foto do usuário"
          width="100px"
          height="100px"
          class="rounded-circle"
        />
      </div>
    </div>
    <a class="btn-nome text-white fw-bold" style="text-decoration: none">{{
      nome
    }}</a>
    <hr />

    <div></div>

    <div>
      <!--Não ta puxando a biografia-->
      {{ biografia }}
    </div>

    <br />
    <br />
    <hr />
  </div>
</section>
